{% extends 'skeleton/skeleton.html' %}

{% block myBody %}
    <div class="request-form">
        <form action="{% url 'createRequest:processRequest' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="banner">
                <h2>Create a Request</h2>
            </div>
            <br/>
            <fieldset>
                <legend>Request Form</legend>
                <div class="colums">
                    <div class="item">
                        <input id="fname" type="text" name="fname" placeholder="Name" required/>
                    </div>
                    <div class="item">
                        <input id="phone" type="tel" name="phone" placeholder="Contact No." required/>
                    </div>
                    <div class="item">
                        <input id="saddress" type="text" name="city" placeholder="Address" required/>
                    </div>

                    <div id="googleMap" style="margin:auto;width:40%;height:400px;"></div>

                    <div class="item">
                        <input id="hospital" type="text" name="hospital_name" placeholder="Hospital" required/>
                    </div>
                    <div class="item">
                        <legend>Prescription:</legend>
                        <input type="file" id="prescription" name="prescription" placeholder="Prescription" required/>
                    </div>
            </fieldset>
            <div class="btn-block">
                <button type="order" href="{% url 'createRequest:processRequest' %}">Confirm Request</button>
            </div>
        </form>
    </div>
{% endblock %}


{% block myScript %}
<script>
    function myMap() {

        const myLatLng = {
            lat: 23.7461,
            lng: 90.3742
        };

        var mapProp = {
            center: myLatLng,
            zoom: 17,
        };

        var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

        var marker = new google.maps.Marker({
            position: myLatLng,
            animation: google.maps.Animation.DROP
        });

        marker.setDraggable(true);
        marker.setClickable(true);
        marker.setMap(map);

        marker.addListener('position_changed', printMarkerLocation);

        function printMarkerLocation() {
            var pos = 'Lat: ' + marker.position.lat() + ' Lng:' + marker.position.lng();
            console.log(pos);
            document.getElementById("saddress").value = pos
        }
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzH5qc_mytBR1OydCEd87eKZ-_u-fP8sQ&callback=myMap"></script>
{% endblock %}